body {
    background-image: url("./image.png"), linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%) ;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh;
}

.menu {
    animation: menuMove 1s 1;
}

.menu > ul > li > a {
    text-decoration: none;
    color: white;
}

.menu > ul > li > a:hover:not(#signup) {
    border-bottom: 2px solid white; 
}

.navbar {
    text-align: center;
    margin: 0 auto;
}

.content {
    width: 30%;
    padding-left: 100px;
    padding-top: 20x;
    font-family: 'Noto Sans TC', sans-serif;
}

h1 {
    font-weight: 900;
    letter-spacing: 2px;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #4162d6;
    border-radius: 50%;
    display: inline-flex;
    margin-top: 60px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.dot:hover {
    border: 3px solid rgb(253, 186, 0);
    margin-top: 57px;
    margin-left: 4px;
}


.btn {
    margin-top: 50px;
    color: white;
    background-color:rgb(217, 36, 48);
    border: none;
    border-radius: 3px;
    padding: 10px;
}

 .logo {
     float: left; 
     padding-top: 15px;
     padding-left: 100px;
}

.menu > ul > li {
    display: inline-flex;
    flex-direction: row;
    margin: 0 15px;
}

/* .menu > ul {
    margin: 7px 0;
} */

.mobile > ul > li > a {
    text-decoration: none;
    color: rgb(18, 60, 204);
    text-align: center;
}

.mobile > ul > li {
    display: block;
    padding: 5px;
    border: 1px solid rgb(18, 60, 204);
}

.mobile > ul > li:hover {
    background-color: rgb(228, 219, 219)
}

.mobile > ul {
    position: absolute;
    background-color: white;
    padding: 0;
    border-radius: 5px;
}

.menu-button {
    color: rgb(18, 60, 204);
    background-color: rgb(228, 219, 219);
    border-radius: 5px;
    padding: 5px 20px;
    position: relative;
    margin-top: 7px;
}

.mobile {
    display: inline-block;
    float: right;
    margin-right: 50px;
}


#signup {
    background-color: white;
    color: rgb(18, 60, 204);
    padding: 7px 20px;
    border-radius: 4px;
}

.dropdown {
    display: none;
}

.display {
    display: block;
}

@media only screen and (max-width: 866px) {
    .menu-button {
        display: block;
    }
    .menu {
        display: none;
    }
    .content {
        padding-left: 30px;
        width: 90%;
        font-size: 12px;
    }
    .content > h1 {
        font-size: 25px;
        margin-top: 
    }
    .logo {
        padding-left: 30px;
    }
    .btn {
        padding: 5px;
        margin-top: 30px;
    }
    .dot {
        height: 8px;
        width: 8px;
        margin-top: 40px;
        margin-left: 7px;
        margin-right: 7px;
    }
    body {
        background-image: linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%);
    }
  }

  @media only screen and (min-width: 867px) {
    .mobile {
        display: none;
    }
  }

  @keyframes menuMove {
        from{margin-top: -20px;}
        to{margin-top: 0;}
  }



