/* body {
    background-image: url("./image.png"), linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%) ;
    color: white;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Noto Sans TC', sans-serif;
    height: 100vh;
} */

/* .menu {
    animation: menuMove 1s 1;
} */

/*Set via rule insertion to stylesheet. Check line 4 in 'createStyles.js' */
/* .menu > ul > li > a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
} */

/* .menu > ul > li > a:hover:not(#signup) {
    border-bottom: 2px solid white; 
} */

/* Set directly via 'style' property. Check lines 22,23 in 'load.js' */
/* .navbar {
    text-align: center;
    margin: 0 auto;
} */

/* .content {
    width: 30%;
    padding-left: 100px;
    padding-top: 20x;
    font-family: 'Noto Sans TC', sans-serif;
} */

/* h1 {
    font-weight: 900;
    letter-spacing: 2px;
} */
/* .dot {
    height: 10px;
    width: 10px;
    margin-top: 40px;
    margin-left: 7px;
    margin-right: 7px;
} */
/* .dot:hover{
    border: 3px solid rgb(253, 186, 0);
    margin-top: 57px;
    margin-left: 4px;
    margin-top: 37px;
} */
/* .btn {
    margin-top: 50px;
    color: white;
    background-color:rgb(217, 36, 48);
    border: none;
    border-radius: 3px;
    padding: 10px;
} */

 /* .logo {
     float: left; 
     padding-left: 100px;
     width: 40px;
} */

/* .logo > img {
    margin-right: 10px;
} */

/* .menu > ul > li {
    display: inline-flex;
    flex-direction: row;
    margin: 0 15px;
} */


/* .mobile > ul > li > a {
    text-decoration: none;
    color: rgb(18, 60, 204);
    text-align: center;
} */

/* .mobile > ul > li {
    display: block;
    padding: 5px;
    border: 1px solid rgb(18, 60, 204);
} */

/* .mobile > ul > li:hover {
    background-color: rgb(228, 219, 219)
} */

/* .mobile > ul {
    position: absolute;
    background-color: white;
    padding: 0;
    border-radius: 5px;
} */

/* .menu-button {
    color: rgb(18, 60, 204);
    background-color: rgb(228, 219, 219);
    border-radius: 5px;
    padding: 5px 20px;
    position: relative;
    margin-top: 7px;
} */

/* .mobile {
    display: inline-flex;
    margin-right: 50px;
    float: right;
} */

/* div:not(.mobile) #signup {
    background-color: white;
    color: rgb(18, 60, 204);
    padding: 7px 20px;
    border-radius: 4px;
} */

/* .dropdown {
    display: none;
} */

/* .display {
    display: block;
} */


@media only screen and (max-width: 375px) {
    .menu-button {
        display: block;
        position: relative;
    }
    .menu {
            display: none;
    }
    .mobile > ul {
        position: absolute;
        margin-top: 45px;
        z-index: 3;
    }
    .content {
        padding-left: 30px;
        width: 85%;
        font-size: 12px;
        position: absolute;
        margin-top: 50px;
    }
    .content > h1 {
        font-size: 25px;
    }
    .logo {
        padding-left: 30px;
    }
    .logo > img {
        width: 80px;
        height: 20px;
        margin-top: 12px;
    }
    .btn {
        padding: 15px 30px;
        width: 70vw;
        margin-top: 30px;
    }
    #dots {
        position: absolute;
        margin: 0 auto;
        display: block;
    }
    .dot {
        height: 13px;
        width: 13px;
        margin-top: 40px;
        margin-left: 10px;
        margin-right: 11px;
        display: inline-flex;
        background-color: #4162d6;       
        border-radius: 50%;
    }
    .dot:hover{
        border: 3px solid rgb(253, 186, 0);
        margin-top: 57px;
        margin-left: 4px;
        margin-top: 37px;
    }
    body {
        background-image: linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%);
    }
  }

  @media only screen and (min-width: 376px) {
    .mobile {
        display: inline-flex;
    }
    .menu {
        display: none;
    }
    body {
        background-image: linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%);
    }
    .content {
        padding-left: 30px;
        width: 85%;
        font-size: 13px;
        position: absolute;
        margin-top: 50px;
    }
    .mobile > ul {
        margin-top: 45px;
        z-index: 3;
    }
    .logo {
        padding-left: 20px;
    }
    .logo > img {
        width: 90px;
        height: 25px;
        margin-left: 10px;
        padding-top: 10px;
    }
    .dot {
        height: 15px;
        width: 15px;
        background-color: #4162d6;
        border-radius: 50%;
        display: inline-flex;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .dot:hover{
        border: 3px solid rgb(253, 186, 0);
        margin-top: 57px;
        margin-left: 4px;
        margin-top: 37px;
    }
    .btn {
        padding: 15px 30px;
        width: 80vw;
        font-size: 1.2em;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
    }
  }

  @media only screen and (min-width: 768px) {
    .mobile {
        display: none;
    }
    .menu {
        display: block;
        font-size: 12px;
    }
    .content {
        padding-left: 60px;
        width: 50%;
        font-size: 15px;
        margin-top: 20px;
    }
    body {
        background-image: url("./image.png"), linear-gradient(127deg, rgb(18, 60, 204) 60%, rgb(217, 36, 48) 60%) ; 
    }
    .dot {
        height: 15px;
        width: 15px;
        background-color: #4162d6;
        border-radius: 50%;
        display: inline-flex;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .dot:hover{
        border: 3px solid rgb(253, 186, 0);
        margin-top: 57px;
        margin-left: 4px;
        margin-top: 37px;
    }
    .logo > img {
        width: 100px;
        height: 25px;
        margin-left: 30px;
        padding-top: 3px;
    }
    .btn {
        margin-top: 50px;
        color: white;
        background-color:#ff5969;
        border: none;
        border-radius: 3px;
        padding: 10px;
        display: inline;
        width: 20vw; 
    }
}


@media only screen and (min-width: 875px){
    .mobile {
        display:none;
    }
    .menu {
        display: block;
        font-size: 14px;
    }
    .logo > img {
        width: 110px;
        height: 28px;
        margin-left: 30px;
        padding-top: 3px;
    }
    .content {
        font-size: 1em;
        margin-top: 20px;
    }
    .dot {
        height: 15px;
        width: 15px;
        background-color: #4162d6;
        border-radius: 50%;
        display: inline-flex;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .dot:hover {
        border: 3px solid rgb(253, 186, 0);
        margin-top: 57px;
        margin-left: 4px;
    }
    .btn {
        margin-top: 50px;
        color: white;
        background-color:#ff5969;
        border: none;
        border-radius: 3px;
        padding: 10px;
        display: inline;
        width: 20vw; 
    }
}


  @media only screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }
    .menu {
        display: block;
        font-size: 16px;
    }
    .content {
        margin-top: 20px;
        width: 40%;
        font-size: 1.1em;
    }
    .dot {
        height: 15px;
        width: 15px;
        background-color: #4162d6;
        border-radius: 50%;
        display: inline-flex;
        margin-top: 60px;
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .dot:hover {
        border: 3px solid rgb(253, 186, 0);
        margin-top: 57px;
        margin-left: 4px;
    }
    .logo > img {
        width: 120px;
        height: 30px;
        margin-left: 30px;
        padding-top: 3px;
    }
    .btn {
        margin-top: 50px;
        color: white;
        background-color:#ff5969;
        border: none;
        border-radius: 3px;
        padding: 10px;
        display: inline;
        width: 20vw; 
    }
  }

  @keyframes menuMove {
        from{
            margin-top: -20px;
        }
        to{
            margin-top: 0;
        }
  }



