<header class="navbar" id="navbar">
    <div class="logo">
        <img src="logo.jpg">
    </div>
    <div class="menu desktop">
        <ul>
            <li><a class="menu-link" href="#home" >Home</a></li>
            <li><a class="menu-link" href="#products" >Products</a></li>
            <li><a class="menu-link" href="#projectTemplates" >Templates</a></li>
            <li><a class="menu-link" href="#pricing" >Pricing</a></li>
            <li><a class="menu-link menu-right" id="signin" href="#signin">SIGN IN</a></li> 
            <li><a class="menu-link menu-right" id="signup" href="#signup">SIGN UP</a></li>
        </ul>
    </div>
    <div class="mobile">
        <div class="menu-button" onclick="dropdown()">MENU</div>
        <ul class="dropdown">
            <li><a class="menu-link" href="#home" >Home</a></li>
            <li><a class="menu-link" href="#products">Products</a></li>
            <li><a class="menu-link" href="#projectTemplates" >Templates</a></li>
            <li><a class="menu-link" href="#pricing" >Pricing</a></li>
            <li><a class="menu-link menu-right" href="#signup">SIGN UP</a></li>
            <li><a class="menu-link menu-right" href="#signin">SIGN IN</a></li>
        </ul>
    </div>
</header>